<%= render '/shared/nav_bar', title: 'New Transaction', icon_name: 'arrow-left', class_name: 'back-icon'%>
<div class="form-container flex-column">
  <h2>Add New Transaction</h2>
  <%= form_with model:  @expense, class: "create_form flex-column" do |form|%>
    <% if  @expense.errors.any? %>
      <%  @expense.errors.full_messages.each do |message| %>
        <p><%= message %><p>
      <% end %>
    <% end %>
    <div>
      <%= form.text_field :name, placeholder: "Name" %>
    </div>

    <div>
      <%= form.number_field :amount, placeholder: "Amount"%>
    </div>

    <div>
      <%= form.button "Create Transaction", class: "submit-btn"%>
    </div>
  <% end %>
</div>
